<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Markdown Viewer</title>

</head>

<body>
  <div>
    <section id="markdown-preview">
      <h3> Text </h3>
      <textarea id="textSource" rows="10" cols="82"></textarea>
      <hr />

      <h3> Markdown </h3>
      <div id="markdownTarget"></div>
  </div>
  </section>
</body>

</html>